- subject = local_assigns.fetch(:subject, current_user)
- include_private = local_assigns.fetch(:include_private, false)

.nav-links.snippet-scope-menu.mobile-separator.nav.nav-tabs
  %li{ class: active_when(params[:scope].nil?) }
    = link_to subject_snippets_path(subject) do
      全部
      %span.badge.badge-pill
        - if include_private
          = subject.snippets.count
        - else
          = subject.snippets.public_and_internal.count

  - if include_private
    %li{ class: active_when(params[:scope] == "are_private") }
      = link_to subject_snippets_path(subject, scope: 'are_private') do
        私有
        %span.badge.badge-pill
          = subject.snippets.are_private.count

  %li{ class: active_when(params[:scope] == "are_internal") }
    = link_to subject_snippets_path(subject, scope: 'are_internal') do
      内部
      %span.badge.badge-pill
        = subject.snippets.are_internal.count

  %li{ class: active_when(params[:scope] == "are_public") }
    = link_to subject_snippets_path(subject, scope: 'are_public') do
      公共
      %span.badge.badge-pill
        = subject.snippets.are_public.count
