= form_for [@project.namespace.becomes(Namespace), @project, @deploy_keys.new_key], url: namespace_project_deploy_keys_path, html: { class: "js-requires-input container" } do |f|
  = form_errors(@deploy_keys.new_key)
  .form-group.row
    = f.label :title, "标题", class: "label-light"
    = f.text_field :title, class: 'form-control', required: true
  .form-group.row
    = f.label :key, "密钥", class: "label-light"
    = f.text_area :key, class: "form-control", rows: 5, required: true
  .form-group.row
    %p.light.append-bottom-0
      在这里粘贴机器公钥。如何生成密钥请点击
      = link_to "这里", help_page_path("ssh/README")

  = f.fields_for :deploy_keys_projects do |deploy_keys_project_form|
    .form-group.row
      = deploy_keys_project_form.label :can_push do
        = deploy_keys_project_form.check_box :can_push
        %strong 允许写入权限
    .form-group.row
      %p.light.append-bottom-0
        允许该密钥推送版本库? (默认权限为拉取。)

  .form-group.row
    = f.submit "添加密钥", class: "btn-create btn"
