- page_title "导入成员"

%h3.page-title
  从其他项目导入成员
%p.light
  只有项目成员才能被导入。群组成员会被跳过。
%hr
= form_tag apply_import_project_project_members_path(@project), method: 'post' do
  .form-group.row
    = label_tag :source_project_id, "项目", class: 'col-form-label col-sm-2'
    .col-sm-10= select_tag(:source_project_id, options_from_collection_for_select(@projects, :id, :name_with_namespace), prompt: "选择项目", class: "select2 lg", required: true)

  .form-actions
    = button_tag '导入项目成员', class: "btn btn-create"
    = link_to "取消", project_project_members_path(@project), class: "btn btn-cancel"
