- page_title 'Bitbucket 导入'
- header_title '项目', root_path

%h3.page-title
  %i.fa.fa-bitbucket
  从 Bitbucket 导入项目

- if @repos.any?
  %p.light
    选择要导入的项目。
  %hr
  %p
  - if @incompatible_repos.any?
    = button_tag class: 'btn btn-import btn-success js-import-all' do
      导入所有兼容项目
      = icon('spinner spin', class: 'loading-icon')
  - else
    = button_tag class: 'btn btn-import btn-success js-import-all' do
      导入所有项目
      = icon('spinner spin', class: 'loading-icon')

.table-responsive
  %table.table.import-jobs
    %colgroup.import-jobs-from-col
    %colgroup.import-jobs-to-col
    %colgroup.import-jobs-status-col
    %thead
      %tr
        %th 从 Bitbucket
        %th 到 GitLab
        %th 状态
    %tbody
      - @already_added_projects.each do |project|
        %tr{ id: "project_#{project.id}", class: "#{project_status_css_class(project.import_status)}" }
          %td
            = link_to project.import_source, "https://bitbucket.org/#{project.import_source}", target: '_blank', rel: 'noopener noreferrer'
          %td
            = link_to project.full_path, [project.namespace.becomes(Namespace), project]
          %td.job-status
            - if project.import_status == 'finished'
              %span
                %i.fa.fa-check
                完成
            - elsif project.import_status == 'started'
              %i.fa.fa-spinner.fa-spin
              已开始
            - else
              = project.human_import_status_name

      - @repos.each do |repo|
        %tr{ id: "repo_#{repo.owner}___#{repo.slug}" }
          %td
            = link_to repo.full_name, "https://bitbucket.org/#{repo.full_name}", target: '_blank', rel: 'noopener noreferrer'
          %td.import-target
            %fieldset.row
            .input-group
              .project-path.input-group-prepend
                - if current_user.can_select_namespace?
                  - selected = params[:namespace_id] || :current_user
                  - opts = current_user.can_create_group? ? { extra_group: Group.new(name: repo.owner, path: repo.owner) } : {}
                  = select_tag :namespace_id, namespaces_options(selected, opts.merge({ display_path: true })), { class: 'input-group-text select2 js-select-namespace', tabindex: 1 }
                - else
                  = text_field_tag :path, current_user.namespace_path, class: "input-group-text input-large form-control", tabindex: 1, disabled: true
              %span.input-group-prepend
                .input-group-text /
              = text_field_tag :path, repo.name, class: "input-mini form-control", tabindex: 2, autofocus: true, required: true
          %td.import-actions.job-status
            = button_tag class: 'btn btn-import js-add-to-import' do
              导入
              = icon('spinner spin', class: 'loading-icon')
      - @incompatible_repos.each do |repo|
        %tr{ id: "repo_#{repo.owner}___#{repo.slug}" }
          %td
            = link_to repo.full_name, "https://bitbucket.org/#{repo.full_name}", target: '_blank', rel: 'noopener noreferrer'
          %td.import-target
          %td.import-actions-job-status
            = label_tag '不兼容项目', nil, class: 'label badge-danger'

- if @incompatible_repos.any?
  %p
    一个或多个 Bitbucket 项目无法直接导入到 GitLab，
    因为其使用 Subversion 或 Mercurial 版本控制，
    而不是 Git。请转换
    = link_to '它们为 Git,', 'https://www.atlassian.com/git/tutorials/migrating-overview'
     然后重新
    = link_to '导入', status_import_bitbucket_path
    。

.js-importer-status{ data: { jobs_import_path: "#{jobs_import_bitbucket_path}", import_path: "#{import_bitbucket_path}" } }
